.resaltado {
  list-style-image: url("img/gogeta.ico");
}

h1, p{
  color:blue;
}

div p{ //todas las etiquetas de tipo p que se encuentran dentro de div

}

div > p{ //solo se aplica a hijos directos de div

}

img{
  height: 200px;
}

img[src$='.png'] { //todas las imagenes que acaben como png
  border-style: solid;
  border-width: 15px;
  border-color: red;
}

img[src$='.jpg'] { //todas las imagenes que acaben como jpg
  border-style: dotted;
  border-width: 10px;
  border-color: green;
}

img[src^='.jpg'] { //todas las imagenes que empiecen como jpg
  border-style: dotted;
  border-width: 10px;
  border-color: green;
}

img[src*='string'] { //todas las imagenes que contengan 'string'
  border-style: dotted;
  border-width: 10px;
  border-color: green;
}

p:hover { //cuando pasemos el cursor por los elementos p, se nos marca el fondo de color magenta
  background-color: magenta;
}
#unic:hover {
  background-color: magenta;
  font-size: 20px;
}
.resaltado:hover{
  background-color: red;
  text-align: center;
}

apuntes css.css
Mostrando apuntes css.css.
