div{
  text-align: center;
  height: 200px;
  width: 200px;
  margin-left: 40px;
  margin-right: 90px;
}
#rotate {
  display: inline-block;
  background-color: blue;
  border-radius: 10px,50px,50px,40px;
  padding: 10px 20px 30px 40px;
  border-style: dotted;
  background-image: linear-gradient(blue, green, red, pink, purple);
  transition-timing-function: ease-in-out;
  transition-duration: 2s;
  transform: rotate(30deg);
  transition-delay: .2;


}

#translate {
  display: inline-block;
  background-color: yellow;
  padding: 40px 30px 20px 10px;
  border-radius: 300px,100px,50px,40px;
  border-style: solid;
  background-image: radial-gradient(green, pink, yellow, blue, red);
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: .2;
  transform: translate(30px,40px);
}

#linearg {
  display: inline-block;
  background-color: yellow;
  padding: 20px 40px 30px 20px;
  border-radius: 10px,100px,50px,40px;
  border-style: double;
  background-image: repeating-linear-gradient(blue, green, yellow, red, white);
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: .2;
  transform: scale(1.5,1);

}

#skew {
  display: inline-block;
  background-color: green;
  padding: 20px 10px 30px 40px;
  border-radius: 10px,100px,50px,40px;
  border-style: ridge;
  background-image: repeating-radial-gradient(red, green, blue, yellow, cyan);
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: .2;
  transform: skew(10deg, 15deg);

}
#a1{
  background-color: red;
  color: white;
  padding: 3px;
  border-style: double;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: .2;
  transform: translateY(50px);

}
#a2{
  background-color: red;
  color: white;
  padding: 7px;
  border-style: double;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: .2;
transform:  rotate(40deg);

}
#a3{
  background-color: red;
  color: white;
  padding: 10px;
  border-style: double;
transform: scale(1,2);
transition-duration: 2s;
transition-timing-function: ease-in-out;
transition-delay: .2;
}
#a4{
  background-color: red;
  color: white;
  padding: 12px;
  border-style: double;
  transform:  skewX(300deg);
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: .2;
}
