/* comentari */

*{
  font-family: Arial, Helvetica, "Comic sans",sans-serif;

}
body{
  background-image: url(../img/ciceron.png);
  background-repeat: no-repeat;
  background-color: #000000;
background-position: center;
text-align: justify;
line-height: 100%;
word-spacing: 15px;
}
h1{
  font-family: "Times new roman";
  color: #3B0B17;
}
p{
  color: #FFFFFF;
  width: 100%;
  display: inline;
}
.class1{
  color:#01A9DB;
}
.class2{
  color: #04B404;
}
#identificador{
  color: #F00F00;
}
#lorem {
  font-style: italic;
  font-size:  110% ;
  font-variant: small-caps;
  letter-spacing: 5px;
}
.dreta{
  text-align: right;
}
.esquerra{
  text-align: left;
}
.centre{
  text-align: center;
}
a{
    display: inline-block;
    height: 60px;
    background-color: green;
    float: right;

}
