*{
  font-family: Arial, Helvetica, "Comic sans",sans-serif;
    background-color: #000000;
}
body{
    color: #FFFFFF;
    line-height: normal;
}
a{
    background-color: #555555;
    height: 60px;

    width: 60px;
}
#id1{
  color: yellow;
  clear: both;

}
#id2{
  color: blue;

}
#id3{
  color: grey;
}
.class1{
  color:#01A9DB;
  width: 12px;
}
.class2{
  color: #04B404;
  width: 12px;
}
.class3{
  color: #009A9B;
  width: 12px;
}
.class4{
  color: #240034;
  width: 12px;
}
.class5{
  color:#F1A9D0;
  width: 12px;
}
.class6{
  color: #04BF04;
  width: 12px;
}
#imagen1{
  float: left;
  clear:
}
#imagen2{
  float: right;
  clear: inherit;
}
