header{
  height: 450px;
  position: static;

}
nav{
  height: 30px;
  width: 100px;
}
h1{
  height: 45px;
  width: 50px;
  font-style: italic;
}
img{
  height: 300px;
  width: 450px;

}
ul{
  height: 50px;
  width: 50px;
}
