body{
	background-image: url("../img/fondo.jpg");
	margin-left: 5%;
	margin-left: 5%;
	padding: 1%;
}
nav{
	box-sizing: border-box;
	border: solid 1px;
	color: #06425C;
	background-color: #486B02;
	display: inline-block;
	width: 20%;
	min-width: 125px;
	margin-right: 15px;
	height: 100vh;
	overflow: auto;
}
section{
	display: inline-block;
	width: 70%;
	height: 100vh;
	overflow: auto;
}
.redondeado {
   border-radius: 5px;
 }
 .confondo {
   background-color: #444444;
	 border-radius: 5px;
	 opacity: 5%;
 }
 #logo {
	 background-image: url("../img/logo.jpg");
	 width: 1000px;
   display: inline-block;
   background-color: black;
   padding: 50px;
   border-radius: 50px;
   border-style: solid;
   transition-duration: 4s;
   transition-timing-function: ease-in-out;
   transition-delay: 200ms;
   transform: translate(225px,20px);
 }

 #tableWar{
	background-color: #4E160A;
	background-position: center;
	background-size: cover;
	color: #000000;
	border: 3px solid #000000;
	border-spacing: 25px;
	border-radius: 0 0 25px  25px;
	font-weight: bold;
}
#fotoWar{

	float: right;
	padding-right: 500px;
	opacity: 0.85;
	border: 15px;
	border-radius: 5px;

}

#pos {
	font-weight: bolder;
}
