div{
  background-color: cyan;
  height: 200px;
  width: 300px;
  border-style: solid;
  border-width: 5px;
  text-align: center;
  padding-top: 130px;
  /*
  transition-property: color, width, background-color, border-radius;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-delay: .3s;
  */
  transform: translate(20px, 20px) rotate(45deg) scale(1.2, 2.3) skewX(60deg) skewY(10deg);

}
/*div:hover{
  color: magenta;
  width: 200px;
  background-color: yellow;
  border-radius: 50px 0px 50px 0px;
}
div:active{
  color: red;
  width: 400px;
  background-color: #00FF00;
  border-radius: 0px 50px 0px 50px;
}
*/
