h1{
  color: blue;
}
p{
  column-count: 4;
  column-gap: 30px;
  background-color: pink;
  text-align: justify;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-radius: 50px 0px 50px 0px;
  border-width: 5px;
  moz-border-style: solid;
  /*prefijos: moz- (firefox), o- (opera), ms- (micorosft),
  webkit- (chrome, android, safari, linux) */
  padding: 25px;
  /*background-image: linear-gradient(to left, red,yellow,yellow,cyan);*/
  background-image: repeating-radial-gradient(circle,red 50%,yellow 50%,red 50%,yellow,black);
}
