div{
  height: 100px;
  width: 100px;
  border: solid 5px;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
  margin-bottom: 5px;
}
#divb{
  position: relative;
  left: 105px;
  top: 105px;
}
#divc{
  position: fixed;
  left: 0px;
  top: 0px;
}
