h1{
  color: blue;

}
p{
  column-count: 9;
  column-gap: 60px;
  text-align: justify;
  background-color: pink;
  border-radius: 30px 20px;
  padding: 30px;
  border-style: solid;
  border-width: 1px;
/*  background-image: linear-gradient(to top,yellow,black,red,black);*/
  /*background-image: repeating-radial-gradient(black,red 10%,brown 10%);*/
}
body{
  background-image: repeating-radial-gradient(black,red 10%,brown 10%);
}
