p{

    color: blue;
    background-color: #e9e7e6;
    padding: 50px 500px 10px;
        padding-bottom: 10px;
    border-style: dotted;
    border-color: #0dff6e;
        border-top-color: rgb(13, 255, 110);
        border-right-color: rgb(13, 255, 110);
        border-bottom-color: rgb(13, 255, 110);
    border-bottom-color: #0c8bf9;
    border-top-color: #ff00ea;
    border-right-color: #0e0d0d;
    border-width: 10px 20px 5px 80px;

}
a{
  font-size: 30px;


  background-color: gray;

  height: 150px;

  width: 150px;

  display: inline-block;

  border: 10px solid;
}
/* para links ya clicados */
a:link{
  color: green;
}
a:visited:{

 color: magenta;  }

 a:hover{
   color: yellow;
 }
a:active{
  color:black;
}
